<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="restTests" >
        <classes>
            <class name="ru.stqa.pft.rest.tests.RestTests" />
            <class name="ru.stqa.pft.rest.tests.RestAssuredTests" />
        </classes>
    </test>
</suite>